<div style="text-align:center">
    <h1 class="loggedInHeading">Chat</h1>
</div>
<!-- Det herunder er bare for at vise noget på siden, så den ikke er blank -->
<p><b>Dorte:</b> Hej alle sammen!</p>
<p><b>Henriette:</b> Hej!</p>
<p><b>Musa:</b> hvor er min kaffe</p>
<p><b>Henriette:</b> Ved ikke...</p>
<button class="btn btn-lg btn-primary btn-block">Skriv besked</button>