<div style="width:100%; text-align:center;">
  <div class="vertBtn">
    <img src="/billeder/forsideBilledeTrans.png" alt="Velkommen" class="indexImg" style="max-width:600px;">
    <br><br>
    <a href='/login'><button type="button" class="startBtn">LOGIN</button></a>
    <a href='/signup'><button type="button" class="startBtn">OPRET DIG</button></a>
    <div class="indexImg">
      <p class="mt-5 mb-2 text-muted">&copy; Team Vandmand.<br>Center for Dansk og Integration, 2018-19.</p>
    </div>
  </div>
</div>