<div class="vertBtn">
  <img src="/billeder/forsideBillede.png" alt="Velkommen">
  <a href='/login'><button type="button" class="startBtn">Login</button></a>
  <a href='/signup'><button type="button" class="startBtn">Opret dig</button></a>
</div>