<div id="text-center">
    <div class="agile">
        <div class="login-form" >
            <form action='/login' method='post' class="form-signin">
                <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                <p class="h7 mb-3 font-weight-normal">Udfyld loginoplysningerne herunder for at anvende applikationen.</p>
                <label for="inputEmail" class="sr-only">E-mail addresse</label>
                <input type="text" id="inputEmail" name="logemail" class="form-control" placeholder="E-mail addresse" required="">
                <label for="inputPassword" class="sr-only">Kodeord</label>
                <input type="password" name="logpassword" id="inputPassword" class="form-control" placeholder="Kodeord"
                    required="">
                <input class="btn btn-lg btn-primary btn-block" type="submit" value="LOGIN NU"></input>
                <button class="btn btn-lg btn-primary btn-block" style="margin-top:3px;" onclick="history.back()">TILBAGE</button>
                <br>
                <a href="signup" target="_self">Har du ikke allerede en bruger?</a>
            </form>
        </div>
    </div>
</div>