<center><h1>Ordbog</h1></center>
<br>

<div id="tilføjBillede">
    <p>Tilføj billeder til ordbogen</p>
    <input type="file">
    <br>
    <p>Billedets navn:</p>
    <input type="text">
    <br><br>
    <button>Tilføj</button>
</div>

<br><br>

<div class="flex-container">
    <div id="kat" class="billeder"><i class="fas fa-cat" style="font-size:60px"></i>
    <p>Kat</p>
    </div>
    <div class="billeder"><i class="fab fa-fort-awesome" style="font-size:60px"></i>
    <p>Slot</p>
    </div>
</div>
<div class="flex-container">
    <div class="billeder"><i class="fas fa-bone" style="font-size:60px"></i>
    <p>Kødben</p>
    </div>
    <div class="billeder"><i class="fas fa-car-side" style="font-size:60px"></i>
    <p>Bil</p>
    </div>
</div>