<center><h1>Ordbog</h1></center>
<br>

<div id="tilføjBillede">
    <p>Tilføj billeder til ordbogen</p><!--
    <input type="file">
    <br>
    <p>Billedets navn:</p>
    <input type="text">
    <br><br>
    <button>Tilføj</button>
</div>
<center> -->
<div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <form action="/ordbog/upload" method="POST" enctype="multipart/form-data">
          <div class="custom-file mb-3">
            <input type="file" accept="video/*;capture=camcorder" name="file"  class="custom-file-input" >
            <label for="file" class="custom-file-label">Vælg fil</label>
          </div>
          <input type="submit" value="Tilføj" class="btn btn-primary btn-block">
        </form>
        <hr>
        {{#if files}}
        {{#each files}}
            <div class="card card-body mb-3">
                <img src="ordbog/image/{{filename}}" alt="DB BILLEDE HER TAK">
            </div>
            {{/each}}
            {{/if}}
            
                    
         </div>  
      </div>
    </div>
</center>

<br><br>
<div class="flex-container2">
    <div>
        <form action="/ordbog/image/:filename" method="GET">
        <label for="image/file"></label>
        </form>
        <p>{{test2}}</p>
        <img src="image/"{{billede}} alt="Nothing so far">
        <p>Hentet billede</p>
    </div>
</div>
<div class="flex-container2">
    <div class="billeder"> 
        <img src="/billeder/kaffekande.jpg" alt="kaffekande" class="billeder">
        <p>Kaffekande</p>
    </div>
    <div> 
        <img src="/billeder/stol.jpg" alt="stol" class="billeder"> 
        <p>Stol</p>
    </div>
</div>
<div class="flex-container2">
    <div>
        <img src="/billeder/skraldespand.jpg" alt="skraldespand" class="billeder">
        <p>Skraldespand</p>
    </div>
    <div>
        <img src="/billeder/vandflaske.jpg" alt="vandflaske" class="billeder">
        <p>Vandflaske</p>
    </div>
</div>