<!DOCTYPE html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
 
    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    
    <link rel ='stylesheet' href='/stylesheets/bootstrap.min.css'>
    <link rel ='stylesheet' href='/stylesheets/style.css'>
    

  </head>

  <body>

    <!-- Page Content -->
    {{{body}}}
    <!-- Bootstrap core JavaScript -->
    <script src='/javascripts/jquery.min.js'></script>
    <script src='/javascripts/bootstrap.bundle.min.js'></script>

  </body>

</html>
