<div style="text-align:center">
    <h1>Velkommen {{name}}</h1>
</div>
<br><br><br>
<center><a href='ordbog'><i class="fas fa-book" id="ordbog" style="font-size:60px;"></i></a>
<br>
<br>
<i class="far fa-comment" id="chat" style="font-size:60px"></a></i> </center>
