<div style="text-align:center">
    <h1>Velkommen {{name}}</h1>
</div>
<br><br><br>


<div class="flex-container" >
    <div class= "item1"><a href='ordbog'><i class="fas fa-book" id="ordbog" style="font-size:60px;" onclick="ordbog()"></i></a></div>
     <div class= "item2"><i class="far fa-comment" id="chat" style="font-size:60px"></a></i> </center></div>
      </div>
      <div class="flex-container" >
    <div class= "item1">?</div>
     <div class= "item2">?</div>
      </div>
       
