<div style="text-align:center">
    <h1>Velkommen {{name}}</h1>
    <p>Du er logget ind som: <b>{{role}}</b></p>
    <p>Dit unikke ID er: <b>{{uniqueId}}</b></p>
</div>
<br>
<div class="flex-container" >
    <div class= "item1"><a href='ordbog'><i class="fas fa-book" id="ordbog" style="font-size:60px;"></i></a></div>
     <div class= "item2"><a href='chat'><i class="far fa-comment" id="chat" style="font-size:60px"></i></a> </center></div>
      </div>
      <div class="flex-container" >
    <div class= "item1">?</div>
    <div class= "item2">?</div>
</div>
