<div style="text-align:center">
    <h1>Velkommen {{name}}</h1>
</div>
<br><br><br>
<<<<<<< HEAD


<div class="flex-container" >
    <div class= "item1"><i class="fas fa-book" id="ordbog" style="font-size:60px;" onclick="ordbog()"></i></div>
     <div class= "item2"><i class="far fa-comment" id="chat" style="font-size:60px"></a></i> </center></div>
     
      </div>
      <div class="flex-container" >
    <div class= "item1"><i class="fas fa-book" id="ordbog" style="font-size:60px;" onclick="ordbog()"></i></div>
     <div class= "item2"><i class="far fa-comment" id="chat" style="font-size:60px"></a></i> </center></div>
     
      </div>
       
=======
<center><a href='ordbog'><i class="fas fa-book" id="ordbog" style="font-size:60px;"></i></a>
<br>
<br>
<i class="far fa-comment" id="chat" style="font-size:60px"></a></i> </center>
>>>>>>> 37863430758dc54521512e75901c3a9162746350
