<div style="text-align:center;">
    <h2 class="loggedInHeading">Velkommen {{name}}</h2>
    <p class="loggedInText">
        Din registrerede rolle er: <b>{{role}}</b><br>
        Dit unikke ID nummer er: <b>{{uniqueId}}</b><br>
        {{#if sprogmakker}}
        <br>
        <a href="connectId" target="_self" title="Klik for at forbinde til kursist.">Forbind til en kursist.</a>
        {{/if}}   
    </p>
    <h4 class="loggedInHeading">Vælg herunder:</h4>
</div>
<div class="flex-container">
    <div id="item1"><a href='billedbog'><i class="fas fa-image" id="billedbog" style="font-size:60px;"></i></a></div>
    <div id="item2"><a href='videobog'><i class="fas fa-video" id="videobog" style="font-size:60px;"></i></a></center></div>
</div>
<div class="flex-container">
    <div id="item4"><a href='chat'><i class="far fa-comment" id="chat" style="font-size:60px;"></i></a></center></div>
    <div id="item3"><a href='support'><i class="fas fa-hands-helping" id="support" style="font-size:60px;"></i></a></div>
</div>
