	<!-- main -->
	<div id="text-center">
		<!--Registrering af bruger-->
		
		<div class="agile">
			<div class="signin-form profile">
				<h1 class="h3 mb-3 font-weight-normal">Registrer</h1>
				
				<div class="login-form" >
					<form action='/login' method="post">
						<input class="form-control" type="text" name="uniqueId" placeholder="ID" required="">
						<input class="form-control" type="email" name="email" placeholder="E-mail" required="">
                        <input class="form-control" type="text" name="username" placeholder="Brugernavn" required="">
                        <select class="custom-select" name="role" required="">
                            <option value="">Vælg rolle</option>
                            <option value="Kursist">Kursist</option>
                            <option value="Sprogmakker">Sprogmakker</option>
                            <option value="Administrator">Administrator</option>
                        </select>
						<input class="form-control" type="password" name="password" placeholder="Kodeord" required="">
                        <input class="form-control" type="password" name="passwordConf" placeholder="Bekræft kodeord" required="">
						<input class="btn btn-lg btn-primary btn-block" type="submit" value="REGISTRER">
					</form>
				</div>
				<p><a href="#"> Ved at registrere mig som bruger, godkender jeg sidens politik</a></p>
			</div>
		</div>
		<div class="clear"></div>
		<!--//Registrering af bruger-->	
	</div>