<div style="text-align:center">
    <h1 class="loggedInHeading">Support</h1>
    <p class="loggedInText"><b>Hej, {{name}}!</b></p>
    <p class="loggedInText">Er der tekniske problemer med applikationen, så frygt ej. Vi her for at hjælpe dig.</p>
    <p class="loggedInText">Du kan enten kontakte supporten direkte på xxx@xxx.xxx eller rette henvendelse til din sprogmakker eller arbejdsplads, som kan tage fat i teknisk support.</p>
    <br>
    <img src="/billeder/support.png" alt="Support" style="max-width:200px;max-height:200px;">
</div>