<div style="text-align:center">
    <h1 class="loggedInHeading">Support</h1>
    <p class="h7 mb-3 font-weight-normal">Hej, {{name}}!</p>
    <p class="h7 mb-3 font-weight-normal">Er der tekniske problemer med applikationen, så er vi her for at hjælpe dig.</p>
    <p class="h7 mb-3 font-weight-normal">Du kan enten kontakte supporten direkte på xxx@xxx.xxx eller rette henvendelse til din sprogmakker eller arbejdsplads, som kan tage fat i teknisk support.</p>
</div>