<center>
<<<<<<< HEAD
    <h1 class="loggedInHeading">Videoordbog</h1>
    <p class="loggedInText">Her kan du optage video og tilføje til din ordbog. Klik
        efterfølgende på videoen for at tilføje tekst.</p>
</center>

<div id="tilføjBillede">
    <p>Tilføj video til ordbogen</p>
=======
    <h1 class="loggedInHeading">Videobog</h1>
    <p class="loggedInText">Du kan optage video og tilføje til din personlige videobog. Klik
        efterfølgende på en video for at tilføje tekst.</p>
</center>

<div id="tilføjBillede">
    <p>Tilføj video til videobogen</p>
>>>>>>> e6df473b97bec511388f2edf4262e9204da0feb0
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto">
            <form action="/videobog/videoupload" method="POST" enctype="multipart/form-data">
                <div class="custom-file mb-3">
                    <p>Optag video: <input type="file" accept="image/*" id="capture" capture="camera" name="file" class="custom-file-input">
                
                    <label for="file" class="custom-file-label">Vælg videofil</label>
                </div>
                <input type="submit" value="Tilføj video" class="btn btn-primary btn-block">
            </form>
            <hr>
            {{#if files}}
            {{#each files}}
            <div class="card card-body mb-3">
                <video width="320" height="240" controls>
                         <source src="videobog/image/{{filename}}" type="video/mp4">Din browser understøtter ikke denne filtype</video>
                <form method="POST" action="/videobog/files/{{_id}}?_method=POST">
                <input type="text" name="billedeTextFelt" class="btn btn-danger btn-block mt-4"></input>
                    {{text}}
                    </form>
                <form method="POST" action="/videobog/files/{{_id}}?_method=DELETE">
                    <button class="btn btn-danger btn-block mt-4">Slet</button>
                </form>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
</div>