#ordbog, #chat{
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 2px 2px;
    justify-content:center;
    cursor: pointer;    
  }

  .flex-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center; 
    padding:50px 0px;
    font-size: 20px;
    border-style: solid;
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin: 0 2px;
    font-weight: bold;
  }

  .flex-container2 {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: 2px 2px;
    justify-content:center;
    cursor: pointer;
  }

  .flex-container2>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center; 
    padding:50px 0px;
    font-size: 20px;
    border-style: solid;
    cursor: pointer;
    width: 150px;
    height: 250px;
    margin: 0 2px;
    font-weight: bold;
  }

  #tilføjBillede {
    text-align: center;
    font-weight: bold;
  }

  .billeder {
  width: auto;
  height: 100%;
  }

  .loggedInHeading {
    margin: 20px;
  }